<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container mt-4">
		<div class="cold-sm-6">
			<form th:action="@{/save}" method="POST" th:object="${persona}">
				<div class="card">
					<div class="card header">
						<h3>Modulo Persona</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="id">ID</label>
							<input th:field="*{id}" type="text"  id="id" class="form-control">
						</div>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="nombre">NOMBRE</label>
							<input th:field="*{nombre}" type="text" id="nombre" class="form-control">
						</div>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="telefono">TELEFONO</label>
							<input th:field="*{telefono}" type="text" id="telefono" class="form-control">
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>